/* Container de la page */
#pageContainer{
    max-width: 1200px;
    min-width: 340px;
    border: solid 1px rgba(0, 0, 0, 0.5);
    flex-wrap: wrap;
}

/** Structure de la page **/

/* Les flexbox */
#pageContainer, #columnGauche, #columnDroite, .columnDroite__container, .columnDroite__bloc--corps, .mediaQuerie__portrait, .mediaQuerie__apropos{
    display: flex;
}

/* Direction des flexbox en colonne */
#columnGauche, #columnDroite, .columnDroite__container, .mediaQuerie__portrait, .mediaQuerie__apropos{
    flex-direction: column;
}

/* Taille des flexbox */
#columnGauche, .columnDroite__bloc--date, .columnDroite__bloc--card{
    flex: 1;
}
#columnDroite, .columnDroite__bloc--description, .mediaQuerie__apropos{
    flex: 2;
}

/* Espacement de Flexbox */
.mediaQuerie__apropos{
    justify-content: space-between;
}

/* Cacher le titre général contact (affichage dans la media querie */
.mediaQuerie__portrait__titre > h2{
    display: none;
}

/** Alignements **/

/* Centrer le bloc */
#pageContainer, .columnGauche__section--portrait{
    margin: auto;
}

/* Aligner le texte au centre */
.columnGauche__section--titre, #loisirs{
    text-align: center; 
}

/* Font */
body{
    font-family: 'Work Sans', sans-serif, Arial;
}

/* Couleurs des fonts / icons */

.columnGauche__section--titre, .columnDroite__titre--prenom, .columnDroite__container i {
    color: #B0BEC5;
}
#loisirs p, .columnDroite__titre--description, .columnDroite__bloc--corps{
    color: #37474F;
}

/* Couleurs des background */
#columnGauche{
    background-color: #B0BEC5;   
}

/* Couleur du soulignement du titre */
.columnDroite__titre--description u{
    text-decoration-color: #B0BEC5;
    text-underline-position: under;
}

/* Couleur des border de titre */
.columnDroite__bloc--header{
    border-bottom: solid 1px #B0BEC5;
}

/* Mise en page */
.columnGauche__section--portrait{  
    padding-top: 70px;
    padding-bottom: 30px;
}
.columnGauche__section--corps{
    padding-left: 10%;
    padding-right:10%;
}
#loisirs i{
    margin-left: 10px;
    margin-right: 10px;
}
#columnDroite{
    padding-left: 5%;
    padding-right:5%;
}
.columnDroite__titre{
    margin-top: 50px;
    margin-bottom: 50px;
}
h3{
    margin-bottom: -10px;
}
.columnDroite__bloc--date ul{
    margin-left: 20px;  
}
.columnDroite__bloc--card{
    margin-bottom: 30px;
}
.columnDroite__bloc--card ul{
    padding-left: 0;
}

/* Mise en page des fonts / icons */

.columnDroite__titre--prenom{
    font-weight: normal;
}
.fa-circle{
    font-size: 6px;
}
h1{
    font-size: 60px;
    margin-bottom: 10px; 
    letter-spacing: -2px;
}
h1, h2, h3{
    font-weight: 500; 
    text-transform: uppercase;
}
h3 span, h2 span{
    text-transform: none;
}
.columnDroite__titre--nom, h3 span, h2 span{
    font-weight:200;
}

/* Mise en page de la photo */
#portrait{
    max-width: 200px;
    border-radius: 50%;
    border: solid 4px rgba(0, 0, 0, 0.5);
}

/* Mise en page des titres de la colonne gauche */
.columnGauche__section--titre{
    background-color: #37474F;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Enlever les puces des listes */
.columnGauche__section--corps li, .columnDroite__bloc--card ul{
    list-style-type: none;
}

/* Espacement entre les li de contact */

.columnGauche__section--corps li{
    margin-bottom: 15px;
}
/* Le texte s'étire pour prendre toute la place dans la colonne */
#apropos{
    text-align: justify;
}

/** Media Queries **/
 @media (min-width: 500px) and (max-width: 900px){

    /** Column Gauche **/

    /* Afficher le titre général contact */
    .mediaQuerie__portrait__titre h2{
        display: block;
        margin-bottom: 0;
    }

    /* Cacher le titre de la div contact */
    #contact .columnGauche__section--titre{
        display: none;
    }
    #pageContainer, .columnGauche__section--portrait{
        flex-direction: column;
    }
    .mediaQuerie__portrait, .mediaQuerie__apropos, .columnGauche__section--portrait{
       display: flex;
    }
    .mediaQuerie__portrait, .mediaQuerie__apropos{
        flex-direction: row;
    }
    .columnGauche__section--portrait, #loisirs, #contact{
        flex: 1;   
    }
    #apropos{
        flex: 2;
    }
    #loisirs, #apropos{
        border: solid 1px #37474F;
    }
    .columnGauche__section--portrait{
        padding: 0;
        margin:0;
    }
    .columnGauche__section--titre{
        margin-top: 0;
    }
    #portrait{
        margin: auto;
    }
    /** Column Droite **/
    .columnDroite__titre{
        text-align: center;
    }
}
