#container{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    border: solid 1px rgba(0, 0, 0, 0.5);
    margin: auto;
    font-family: 'Work Sans', sans-serif, Arial;
}

#columnGauche{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #B0BEC5;   
}
.portrait{  
    margin: auto;
    padding-top: 70px;
    padding-bottom: 30px;
}
.portrait__photo{
    max-width: 200px;
    border-radius: 50%;
    border: solid 4px rgba(0, 0, 0, 0.5);
}
.columnGauche__section--titre{
    text-align: center;
    background-color: #37474F;
    color: #B0BEC5;
    padding-top: 5px;
    padding-bottom: 5px;
}
.columnGauche__section--corps{
    padding-left: 10%;
    padding-right:10%;
}

.columnGauche__section--corps + ul, .recommandation__corps ul{
    list-style-type: none;
}
#columnGauche section{
    border: solid red 3px;
}
.loisirs{
    text-align: center;
}
.loisirs p{
    color: #37474F;
}
.loisirs i{
    margin-left: 10px;
    margin-right: 10px;
}
.apropos{
    flex:2;
    text-align: justify;
}

#columnDroite{
    display: flex;
    flex-direction: column;
    flex: 2;
    padding-left: 5%;
    padding-right:5%;
}
.formation__date ul, .experiencePro__date ul{
    margin-left: 20px;
    
}

/* Couleur des textes */

.columnDroite--prenom{
    color: #B0BEC5;
    font-weight: normal;
}
.columnDroite--description, .formation__corps , .experiencePro__corps, .recommandation__corps{
    color: #37474F;
}

/* Couleur */
.columnDroite--description u{
    text-decoration-color: #B0BEC5;
    text-underline-position: under;
}
.formation__header, .experiencePro__header, .recommandation__header{
    border-bottom: solid 1px #B0BEC5;
}
.recommandations__container i, .experiencePro__container i, .formation__container i{
    color: #B0BEC5;
}
.fa-circle{
    font-size: 6px;
}

/* Mise en page des titre */
.titre{
    margin-top: 50px;
    margin-bottom: 50px;
}
.titre h1{
    font-size: 60px;
    margin-bottom: 10px; 
    letter-spacing: -2px; 
}
.titre, .titre h1, h2, h3, h4, .columnGauche__section--titre, .formation__header, .experiencePro__header, .recommandation__header{
    font-weight: 500; 
}

.titre, .titre h1, h2, h3, .columnGauche__section--titre, .formation__header, .experiencePro__header, .recommandation__header{
    text-transform: uppercase;
}
h3 span, h2 span{
    text-transform: none;
    font-weight: normal;
}
h3{
    margin-bottom: -10px;
}
.columnDroite--nom, h3 span, h2 span{
    font-weight:200;
}

.formation__container, .experiencePro__container{
    display: flex;
    flex-direction: column;
    
}
.formation__corps, .experiencePro__corps, .recommandation__corps{
    display: flex;
}
.recommandation__corps ul{
    padding-left: 0;
}
.recommandation__corps{
    margin-bottom: 30px;
}
.formation__date, .experiencePro__date, .recommandation__card{
    
    flex:1;
}
.formation__description, .experiencePro__description{
    
    flex:2;
}